{% extends 'base.html.twig' %}
{% block body %}
	<div class="container">
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{message}}
			</div>
		{% endfor %}
		<div class="row-justify-content-end">
			<h3 class="text-right">Date du jour :
				<i>{{ "now"|date("d/m/Y") }}</i>
			</h3>
		</div>
		<div class="row-justify-content-end">
			<h3 class="text-right">Bonjour
				<i>{{app.user.pseudo}}</i>
			</h3>
		</div>
		{% include "home/filtre.html.twig" %}
		<table class="table table-hover text-center">
			<thead>
				<tr class="table-secondary">
					<th scope="col">Nom de la sortie</th>
					<th scope="col">Date de la sortie</th>
					<th scope="col">Clôture</th>
					<th scope="col">Inscrits/places</th>
					<th scope="col">Etat</th>
					<th scope="col">Inscrit</th>
					<th scope="col">Organisateur</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for sortie in sorties %}
					<tr>
						<th>{{sortie.nom}}</th>
						<td>{{sortie.dateHeureDebut|date("d/m/Y / H:i")}}</td>
						<td>{{sortie.dateLimiteInscription|date("d/m/Y")}}</td>
						<td>{{sortie.participants|length }}/{{sortie.nbInscriptionsMax}}</td>
						<td>{{sortie.etat.libelle}}</td>
						<td>
						{% for inscrit in inscrits %}
							{% if inscrit.id == sortie.id %}
								<i class="bi bi-check2-square"></i>
							{% endif %}
						{% endfor %}
						</td>
						<td>
							<a href="{{path('afficherProfil', {'id' : sortie.organise.id})}}" class="btn btn-link">{{sortie.organise.pseudo}}</a>
						</td>
						<td>
						{% if sortie.organise.id == app.user.id %}
							{% if sortie.etat.libelle == 'Créée' and sortie.etat.libelle != 'Annulée'  %}
								<a href="{{path('modifSortie', {'id' : sortie.id})}}" class="btn btn-outline-primary">Modifier</a>
								<a href="{{path('annuleSortie', {'id' : sortie.id})}}" class="btn btn-outline-primary" onclick="return confirm('Etes vous sur de vouloir vous annuler cette sortie ?')">Annuler</a>
							{% elseif sortie.etat.libelle == 'Ouverte' or sortie.etat.libelle == 'Clôturée' %}
								<a href="{{path('afficherSortie', {'id' : sortie.id})}}" class="btn btn-outline-primary">Afficher</a>
								<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#myModal">Annuler</button>
							{% else %}
								<a href="{{path('afficherSortie', {'id' : sortie.id})}}" class="btn btn-outline-primary">Afficher</a>
							{% endif %}
							{% if sortie.etat.libelle == 'Ouverte' or sortie.etat.libelle !='Clôturée'  %}
								<a href="{{path('inscriptionSortie', {'id' : sortie.id})}}" class="btn btn-outline-primary" onclick="return confirm('Etes vous sur de vouloir vous inscrire à cette sortie ?')">S'incrire</a>
								<a href="{{path('seDesisterSortie', {'id' : sortie.id})}}" class="btn btn-outline-primary mt-1" onclick="return confirm('Etes vous sur de vouloir vous désister à cette sortie ?')">Se désister</a>
							{% endif %}
						{% else %}
							{% if sortie.etat.libelle != 'Créée' %}
								<a href="{{path('afficherSortie', {'id' : sortie.id})}}" class="btn btn-outline-primary">Afficher</a>
							{% endif %}	
							{% if sortie.etat.libelle == 'Ouverte' or sortie.etat.libelle !='Clôturée'%}
								<a href="{{path('inscriptionSortie', {'id' : sortie.id})}}" class="btn btn-outline-primary" onclick="return confirm('Etes vous sur de vouloir vous inscrire à cette sortie ?')">S'incrire</a>
								<a href="{{path('seDesisterSortie', {'id' : sortie.id})}}" class="btn btn-outline-primary mt-1" onclick="return confirm('Etes vous sur de vouloir vous désister à cette sortie ?')">Se désister</a>
							{% endif %}	
						{% endif %}
					</tr>
					{% include "home/modalMessage.html.twig" %}
				{% endfor %}
			</tbody>
		</tbody>
	</table>
	<div class="row justify-content-md-center">
		<div class="form-group col-md-6">
			<a class="btn btn-lg btn-outline-secondary btn-block" href="{{path('creerSortie')}}" role="button">Créer une sortie</a>
		</div>
	</div>
</div>
{% endblock %}

