{% extends 'base.html.twig' %}

{% block title %}profil de {{participant.pseudo}}
{% endblock %}
{% block body %}
<div class="container">
	<div class="row justify-content-md-center">
		<div class="col-6">
			<div class="row align-self-center">
				<div class="text-center mt-5">
					<img src="{{asset('images/persoMario.jpg')}}" class="rounded"
						style="max-width: 350px;max-height: 350px;">
				</div>
			</div>
		</div>
		<div class="col-6">
			<div class=" text-center mt-5">
				<h2>{{participant.pseudo}}</h2>
			</div>
			<div class="row">
				<div class="col-md-6">
					<h4>Nom :</h4>
				</div>
				<div class="col-md-6">
					<p>{{participant.nom}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<h4>Prénom :<h4>
				</div>
				<div class="col-md-6">
					<p>{{participant.prenom}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<h4>Email :</h4>
				</div>
				<div class="col-md-6">
					<p>{{participant.mail}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<h4>Téléphone :</h4>
				</div>
				<div class="col-md-6">
					<p>{{participant.telephone}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<h4>Campus :</h4>
				</div>
				<div class="col-md-6">
					<p>{{participant.campus.nom}}</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class=" col-6">
				<a class="btn btn-lg btn-outline-secondary" href="{{path('home')}}" role="button">Retour</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}