{% extends 'base.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block body %}
<div class="container">
    <div class="col-md-auto">
        <div class=" pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            {% if isModification %}
            <h2>Modification de la sortie : {{sortie.nom}}</h2>
            {% else %}
            <h2>Créer une sortie</h2>
            {% endif %}
        </div>
        {{form_start(form)}}
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <span class="text-secondary">Nom de la sortie :</span>
                </div>
                <div class="form-group">
                    {{form_widget(form.nom)}}
                </div>
                <div class="form-group">
                    <span class="text-secondary">Date et heure de la sortie :</span>
                </div>
                <div class="form-group">
                    {{form_widget(form.dateHeureDebut)}}
                </div>
                <div class="form-group">
                    <span class="text-secondary">Date limite dinscription :</span>
                </div>
                <div class="form-group">
                    {{form_widget(form.dateLimiteInscription)}}
                </div>
                <div class="form-group">
                    <span class="text-secondary">Durée (en minutes) :</span>
                </div>
                <div class="form-group">
                    {{form_widget(form.duree)}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <span class="text-secondary">Nombre de places :</span>
                </div>
                <div class="form-group">
                    {{form_widget(form.nbInscriptionsMax)}}
                </div>
                <div class="form-group">
                    <span class="text-secondary">Campus :</span>
                </div>
                <div class="form-group">
                    {{form_widget(form.campus)}}
                </div>
                <div class="form-group">
                    <span class="text-secondary">Lieu et Ville :</span>
                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" id="infoLieu" data-html="false" title="">
                        <i class="bi bi-info-circle"></i>
                      </span>
                    
                    <button type="button" class="btn btn-light float-right" data-bs-toggle="modal"
                        data-bs-target="#myModal">
                        <i class="bi bi-plus-circle-fill"></i> Ajouter
                    </button>

                </div>
                <div class="form-group">
                    {{form_widget(form.lieu)}}
                    
                </div>
                <div class="form-group">
                    <span class="text-secondary">Description et infos :</span>
                </div>
                <div class="form-group">
                    {{form_widget(form.infosSortie)}}
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="form-group col-md-6">
                {{form_row(form.enregistrer)}}
            </div>
            <div class="form-group col-md-6">
                {{form_row(form.publier)}}
            </div>
        </div>
        {% if isModification %}
        <div class="row justify-content-md-center">
            <div class="form-group col-md-6">
                <a href="{{path('annuleSortie', {'id' : sortie.id})}}" class="btn btn-lg btn-outline-primary btn-block" onclick="return confirm('Etes vous sur de vouloir vous annuler cette sortie ?')">Annuler</a>
            </div>
        </div>
        {% endif %}
        <div class="row justify-content-md-center">
            <div class="form-group col-md-6">
                <a class="btn btn-lg btn-outline-secondary btn-block" href="{{path('home')}}" role="button">Retour</a>
            </div>
        </div>
    </div>
</div>
{{form_end(form)}}

<!-- Modal -->

<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ajouter un lieu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{form_start(formLieu)}}
                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Nom :</label>
                    {{form_widget(formLieu.nom)}}
                </div>
                <div class="mb-3">
                    <label for="message-text" class="col-form-label">Rue :</label>
                    {{form_widget(formLieu.rue)}}
                </div>
                <div class="mb-3">
                    <label for="message-text" class="col-form-label">Latitude :</label>
                    {{form_widget(formLieu.latitude)}}
                </div>
                <div class="mb-3">
                    <label for="message-text" class="col-form-label">Longitude :</label>
                    {{form_widget(formLieu.longitude)}}
                </div>
                <div class="mb-3">
                    <label for="message-text" class="col-form-label">Ville :</label>
                    {{form_widget(formLieu.ville)}}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>
            {{form_end(formLieu)}}
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
{{parent()}}
<script type="application/javascript">
document.getElementById("sortie_lieu").addEventListener("change", function () {
    chargeDetailLieu();
});

function chargeDetailLieu() {
    url = 'http://127.0.0.1:8000/infoLieu/' + document.getElementById("sortie_lieu").value;
    fetch( url, {'method': 'GET'} )
    .then( response => response.json() )
    .then( response => {
        let html = '';
        response.map(lieu => {
            html += 'Rue : ' + lieu.rue +'\n';
            html += 'Ville : ' + lieu.ville.nom +'\n';
            html += 'Code postal : ' +lieu.ville.codePostal + '\n';
            html += 'Latitude : ' + lieu.latitude +'\n';
            html += 'Longitude : ' + lieu.longitude +'\n';
        })
        document.getElementById("infoLieu").title = html;
    } )
}
</script>
{% endblock %}