{% extends 'base.html.twig' %}

{% block title %}Affichage d'une sortie
{% endblock %}

{% block body %}
	<div class="container">
		<div class=" pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
			<h2>Afficher une sortie</h2>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group text-center">
					<span class="blockquote">Nom de la sortie :
					</span>
					<span class="text-secondary">{{sortie.nom}}</span>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group text-center">
					<span class="blockquote">Campus :
					</span>
					<span class="text-secondary">{{sortie.campus.nom}}</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group text-center">
					<span class="blockquote">Date et heure de la sortie :
					</span>
					<span class="text-secondary">{{sortie.dateHeureDebut|date("d/m/Y / H:i")}}</span>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group text-center">
					<span class="blockquote">Lieu :
					</span>
					<span class="text-secondary">{{sortie.lieu.nom}}</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group text-center">
					<span class="blockquote">Date limite d'inscription :
					</span>
					<span class="text-secondary">{{sortie.dateLimiteInscription|date("d/m/Y")}}</span>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group text-center">
					<span class="blockquote">Rue :
					</span>
					<span class="text-secondary">{{sortie.lieu.rue}}</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group text-center">
					<span class="blockquote">Nombre de places :
					</span>
					<span class="text-secondary">{{sortie.participants|length }}/{{sortie.nbInscriptionsMax}}</span>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group text-center">
					<span class="blockquote">Code postal :
					</span>
					<span class="text-secondary">{{sortie.lieu.ville.codePostal}}</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group text-center">
					<span class="blockquote">Durée :
					</span>
					<span class="text-secondary">{{sortie.duree}}
						minutes</span>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group text-center">
					<span class="blockquote">Latitude :
					</span>
					<span class="text-secondary">{{sortie.lieu.latitude}}</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group text-center">
					<span class="blockquote">Description et infos :
					</span>
					<span class="text-secondary">{{sortie.infosSortie}}</span>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group text-center">
					<span class="blockquote">Longitude :
					</span>
					<span class="text-secondary">{{sortie.lieu.longitude}}</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<table class="table table-hover text-center mt-5">
					<thead>
						<tr class="table-info">
							<th scope="col">Pseudo</th>
							<th scope="col">NOM prénom</th>
						</tr>
					</thead>
					<tbody>
						{% for participant in sortie.participants %}
							<tr>
								<td>{{ participant.pseudo }}</td>
								<td>{{ participant.nom|upper }} {{ participant.prenom }}</td>
							</tr>

						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="col-md-6 mt-5 text-center">
				<form method="POST" action="{{ path('inscriptionSortie', {'id': sortie.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir vous inscrire à cette sortie ?')">
					<input type="hidden" name="_method" value="INSCRIPTION">
					<input type="hidden" name="_token" value="{{ csrf_token('inscription'~ sortie.id) }}">
					<button class="btn btn-lg btn-outline-primary">S'inscrire</button>
				</form>
				<div class="mt-3 text-center">
					<a class="btn btn-lg btn-outline-secondary" href="{{path('home')}}" role="button">Retour</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

